{% extends '::main.html.twig' %}


{% block header %}
    <a href=".scroll"></a>
    <div id="navigation">
        <ul>
            <li><a href="{{ path('main') }}">Главная</a></li>
            <li><a href="{{ path('about') }}">О нас</a></li>
            <li><a href="{{ path('contact') }}">Контакты</a></li>
            <li>{% if app.user %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                    |
                    <a href="{{ path('personal_area') }}">Личный кабинет</a>
                {% else %}
                    <a href="{{ url('fos_user_security_login') }}">Log in</a>
                {% endif %}
            </li>
        </ul>
    </div>
    <div class="about_title">
        <h1>Контакты</h1>
        <hr>
        <h3>Способ связи с издателем</h3>
    </div>
{% endblock %}

{% block body %}
    <div class="content">
        <a class="scroll"></a>
        <div id="contact_form">
            <h3>
                Хотите связаться со мной? Заполните форму ниже, чтобы отправить мне сообщение
            </h3>


            <div class="flash-notice"></div>
            <form action="{{ path('contact') }}" method="POST">
                <input type="text" name="contact_name" placeholder="Имя:">
                <input type="email" name="contact_email" placeholder="Email:">
                <textarea name="contact_message" placeholder="Сообщение:" spellcheck="false"></textarea>
                <input type="button" name="send_contact_submit" id="send_contact_submit" value="Отправить">
                <div class="clear"></div>
            </form>
            <p class="wait_data" id="contact_wait_data">
                <img src="{{ asset('images/wait.gif') }}">
            </p>
        </div>
    </div>
{% endblock %}