{% extends '::main.html.twig' %}


{% block header %}
    <a class=".scroll"></a>
    <div id="navigation">
        <ul>
            <li><a href="{{ path('main') }}">Главная</a></li>
            <li><a href="{{ path('about') }}">О нас</a></li>
            <li><a href="{{ path('contact') }}">Контакты</a></li>
            <li>{% if app.user %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                    |
                    <a href="{{ path('personal_area') }}">Личный кабинет</a>
                {% else %}
                    <a href="{{ url('fos_user_security_login') }}">Log in</a>
                {% endif %}
            </li>
        </ul>
    </div>
    <div id="site_name">
        <h1>Потерянный мир</h1>
        <hr>
        <h3>Сервис для поиска пропавшего</h3>
        <div id="find_lost_panel">
            <ul>
                <li><a href="{{ path('find') }}">Я нашел</a></li>
                <li> <a href="{{ url('lost') }}">Я потерял</a></li>
            </ul>
        </div>
    </div>
{% endblock %}