{% extends 'LostThingsAdminBundle::layout.html.twig' %}

{% block body -%}
    <h1>Thing</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Namething</th>
                <td>{{ entity.nameThing }}</td>
            </tr>
            <tr>
                <th>Basething</th>
                <td>{{ entity.baseThing }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_thing_') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_thing__edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
