{% extends 'LostThingsAdminBundle::layout.html.twig' %}

{% block body -%}

    <div class="title_table">
        <h1>Lost list</h1>
        <div class="count">
            <p>Всего потеряно: {{ entities.getTotalItemCount }}</p>
        </div>
    </div>
        <ul>
            <li>
                <a href="{{ path('admin_lost__new') }}">
                    <span class="create_new">Create a new entry</span>
                </a>
            </li>
        </ul>
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Страна</th>
                <th>Город</th>
                {#<th>Areaid</th>#}
                {#<th>Streetid</th>#}
                <th>Объект</th>
                <th>Пользователь</th>
                {#<th>Status</th>#}
                {#<th>Description</th>#}
                <th>Дата</th>
                <th>Изображение</th>
                {#<th>Datefind</th>#}
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr class="admin_font">
                <td><a href="{{ path('admin_lost__show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.country }}</td>
                <td>{{ entity.city }}</td>
                {#<td>{{ entity.areaId }}</td>#}
                {#<td>{{ entity.streetId }}</td>#}
                <td>{{ entity.thing }}</td>
                <td>{{ entity.username }}</td>
                {#<td>{{ entity.status }}</td>#}
                {#<td>{{ entity.description }}</td>#}
                <td><span class="date"> {% if entity.dateLost %}{{ entity.dateLost|date('Y-m-d H:i:s') }}</span>{% endif %}</td>
                {% if entity.fileName is not empty %}
                    <td><img src="{{ asset('files/') }}" {{ entity.fileName }}></td>
                {% else %}
                    <td><img src="{{ asset('images/no_image.png') }}"></td>
                {% endif %}
                {#<td>{% if entity.dateFind %}{{ entity.dateFind|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_lost__show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_lost__edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#display navigation#}
    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>

{% endblock %}
