{% extends 'LostThingsAdminBundle::layout.html.twig' %}

{% block body -%}
    <h1>Lost</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Countryid</th>
                <td>{{ entity.countryId }}</td>
            </tr>
            <tr>
                <th>Cityid</th>
                <td>{{ entity.cityId }}</td>
            </tr>
            <tr>
                <th>Areaid</th>
                <td>{{ entity.areaId }}</td>
            </tr>
            <tr>
                <th>Streetid</th>
                <td>{{ entity.streetId }}</td>
            </tr>
            <tr>
                <th>Thingid</th>
                <td>{{ entity.thingId }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ entity.userId }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Datelost</th>
                <td>{{ entity.dateLost|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ entity.fileName }}</td>
            </tr>
            <tr>
                <th>Datefind</th>
                <td>{{ entity.dateFind|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_lost_') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_lost__edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
