{% extends 'LostThingsAdminBundle::layout.html.twig' %}

{% block body -%}
    <div class="title_table">
        <h1>Список улиц</h1>
        <div class="count">
            <p>Всего {{ entities.getTotalItemCount }} улицы</p>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('admin_street__new') }}">
                <span class="create_new">Create a new entry</span>
            </a>
        </li>
    </ul>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Улица</th>
                <th>Город</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr class="admin_font">
                <td><a href="{{ path('admin_street__show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.street }}</td>
                <td>{{ entity.city }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_street__show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_street__edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#display navigation#}
    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>
{% endblock %}
