{% extends 'LostThingsAdminBundle::layout.html.twig' %}

{% block body -%}
    <h1>Find</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Страна</th>
                <td>{{ entity.country }}</td>
            </tr>
            <tr>
                <th>Город</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>Район или область</th>
                <td>{{ entity.area }}</td>
            </tr>
            <tr>
                <th>Улица</th>
                <td>{{ entity.street }}</td>
            </tr>
            <tr>
                <th>Объект</th>
                <td>{{ entity.thing }}</td>
            </tr>
            <tr>
                <th>Пользователь</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Статус</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Дата</th>
                <td>{{ entity.dateFind|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ entity.fileName }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_find_') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_find__edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
