{% extends 'LostThingsAdminBundle::layout.html.twig' %}

{% block body -%}
    <h1>Area</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Район</th>
                <td>{{ entity.area }}</td>
            </tr>
            <tr>
                <th>Город</th>
                <td>{{ entity.city }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_area_') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_area__edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
