{% extends 'LostThingsMainBundle::layout.html.twig' %}

{% block body %}
    {% if dont_read_messages is defined %}
            <div class="dialog dont_read_messages" title="">
                <form action="{{ path('private_message') }}" method="POST">
                    <div class="popup_message">
                        {% for dont_read_message in dont_read_messages %}
                            <p class="dont_read_message"><span>[{{ dont_read_message.createdAt|date }}]</span> {{ dont_read_message.message }}</p>
                            <input type="hidden" name="whom" value="" class="whom">
                            <input type="hidden" name="status_message" value="{{ dont_read_message.id }}" class="status_message">
                            <input class="from_user" type="hidden" value="{{ dont_read_message.username }}">
                        {% endfor %}
                    </div>
                    <div class="answer">
                        <textarea class="message answer_input" name="message" spellcheck="false"></textarea>
                        <button name="submit_pm" class="button_link submit_pm">Ответить</button>
                    </div>
                </form>
            </div>


    {% endif %}
    <div class="lost_things">
        {% if all_user_losts is not empty %}
            <h1>Я потерял</h1>
            <div class="lost_things_things">
                {% for all_user_lost in all_user_losts %}
                    <div class="lost-{{ all_user_lost.id }} lost_block">
                        <div class="lost_block_info">
                            {% if all_user_lost.filename is not empty %}
                                <a class="colorbox" href="{{ asset('files/') }}{{ all_user_lost.filename }}"><img src="{{ asset('files/') }}{{ all_user_lost.filename }}"></a>
                            {% else %}
                               <img src="{{ asset('images/no_image.png') }}">
                            {% endif %}
                            <p>
                                <span>Потеря:</span> {{ all_user_lost.thing }}
                            </p>
                            <p>
                                <span>Страна:</span> {{ all_user_lost.country }}
                            </p>
                            <p>
                                <span>Город:</span> {{ all_user_lost.city }}
                            </p>
                            <p>
                                <span>Район:</span> {{ all_user_lost.area }}
                            </p>
                            <p>
                                <span>Адрес:</span> {{ all_user_lost.street }}
                            </p>
                            <p class="count_matches_lost_{{ all_user_lost.id }} ">
                                Кол-во совпадений: <a class="count_matches_lost" href="/personal-area/lost/search/{{ all_user_lost.id }}"> <span></span></a>
                            </p>
                            <p class="edit_description_{{ all_user_lost.id }}">
                                <span>Описание:</span> {{ all_user_lost.description }}
                            </p>
                        </div>
                        <div class="control_block">
                            <ul>
                                <li><button class="button_link refresh_lost" value="{{ all_user_lost.id }}">Обновить</button></li>
                                <li><button class="button_link edit_lost" value="{{ all_user_lost.id }}">Исправить</button></li>
                                <li><button class="button_link delete_lost" value="{{ all_user_lost.id }}">Удалить</button></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="find_things">
        {% if all_user_finds is not empty %}
            <h1>Я нашел</h1>
            <div class="find_things_things">
                {% for all_user_find in all_user_finds %}
                    <div class="find-{{ all_user_find.id }} find_block">
                        <div class="find_block_info">
                            {% if all_user_find.filename is not empty %}
                                <a class="colorbox" href="{{ asset('files/') }}{{ all_user_find.filename }}"><img src="{{ asset('files/') }}{{ all_user_find.filename }}"></a>
                            {% else %}
                                <img src="{{ asset('images/no_image.png') }}">
                            {% endif %}
                            <p>
                                <span>Находка:</span> {{ all_user_find.thing }}
                            </p>
                            <p>
                                <span>Страна:</span> {{ all_user_find.country }}
                            </p>
                            <p>
                                <span>Город:</span> {{ all_user_find.city }}
                            </p>
                            <p>
                                <span>Район:</span> {{ all_user_find.area }}
                            </p>
                            <p>
                                <span>Адрес:</span> {{ all_user_find.street }}
                            </p>
                            <p class="count_matches_find_{{ all_user_find.id }}">
                                Кол-во совпадений: <a class="count_matches_find" href="/personal-area/find/search/{{ all_user_find.id }}"><span></span></a>
                            </p>
                            <p class="edit_description_{{ all_user_find.id }}">
                                <span>Описание:</span> {{ all_user_find.description }}
                            </p>
                        </div>
                        <div class="control_block">
                            <ul>
                                <li>
                                    <p class="wait_data" id="update_wait_data">
                                        <img src="{{ asset('images/wait.gif') }}">
                                    </p>
                                    <button class="button_link refresh_find" value="{{ all_user_find.id }}">Обновить</button></li>
                                <li><button class="button_link edit_find" value="{{ all_user_find.id }}">Исправить</button></li>
                                <li><button class="button_link delete_find" value="{{ all_user_find.id }}">Удалить</button></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}