{% extends 'LostThingsMainBundle::layout.html.twig' %}


{% block body %}
    <div id="personal_area">
        <div class="lost_things">
            {% if all_user_losts is not empty %}
                <h1>I'm lost</h1>
                {% for all_user_lost in all_user_losts %}
                    <div class="lost-{{ all_user_lost.id }}">
                        {% if all_user_lost.filename is not empty %}
                            <img src="{{ asset('files/') }}{{ all_user_lost.filename }}">
                        {% else %}
                            <img src="{{ asset('images/default.gif') }}">
                        {% endif %}
                        <p>
                            Потеря: {{ all_user_lost.thing }}
                        </p>
                        <p>
                            Страна: {{ all_user_lost.country }}
                        </p>
                        <p>
                            Район: {{ all_user_lost.area }}
                        </p>
                        <p>
                            Адрес: {{ all_user_lost.street }}
                        </p>
                        <p>
                            Описание: {{ all_user_lost.description }}
                        </p>
                        <p class="count_matches_lost">
                            Кол-во совпадений:  <a href="/personal-area/lost/search/{{ all_user_lost.id }}"> <span></span></a>
                        </p>
                        <button class="button_link refresh_lost" value="{{ all_user_lost.id }}">Refresh</button>
                        <button class="button_link delete_lost" value="{{ all_user_lost.id }}">Delete</button>
                        <input class="refresh_lost" type="hidden" value="{{ all_user_lost.id }}">
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="find_things">
            {% if all_user_finds is not empty %}
                <h1>I'm find</h1>
                {% for all_user_find in all_user_finds %}
                    <div class="find-{{ all_user_find.id }}">
                        {% if all_user_find.filename is not empty %}
                            <img src="{{ asset('files/') }}{{ all_user_find.filename }}">
                        {% else %}
                            <img src="{{ asset('images/default.gif') }}">
                        {% endif %}
                        <p>
                            Находка: {{ all_user_find.thing }}
                        </p>
                        <p>
                            Страна: {{ all_user_find.country }}
                        </p>
                        <p>
                            Район: {{ all_user_find.area }}
                        </p>
                        <p>
                            Адрес: {{ all_user_find.street }}
                        </p>
                        <p>
                            Описание: {{ all_user_find.description }}
                        </p>
                        <p class="count_matches_find">
                            Кол-во совпадений: <a href="/personal-area/find/search/{{ all_user_find.id }}"><span></span></a>
                        </p>
                        <button class="button_link refresh_find" value="{{ all_user_find.id }}">Refresh</button>
                        <button class="button_link delete_find" value="{{ all_user_find.id }}">Delete</button>
                        <input class="refresh_find" type="hidden" value="{{ all_user_find.id }}">
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <script>

    </script>
{% endblock %}