{% extends 'LostThingsAdminBundle::layout.html.twig' %}

{% block body -%}
    <h1>Исправить сообщение</h1>

    <p>
        {{ form_label(edit_form.username) }}
    </p>
    <p>
        {{ form_widget(edit_form.username) }}
    </p>
    <p>
        {{ form_label(edit_form.receivedUsername) }}
    </p>
    <p>
        {{ form_widget(edit_form.receivedUsername) }}
    </p>
    {{ form_rest(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_message_') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
