{% extends 'LostThingsAdminBundle::layout.html.twig' %}

{% block body -%}
    <h1>Message</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Отправитель</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Получатель</th>
                <td>{{ entity.receivedUsername }}</td>
            </tr>
            <tr>
                <th>Сообщение</th>
                <td>{{ entity.message }}</td>
            </tr>
            <tr>
                <th>Дата</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Статус</th>
                <td>{{ entity.status }}</td>
            </tr>

        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_message_') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_message__edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
