{% extends 'LostThingsMainBundle::layout.html.twig' %}

{% block body %}
    <div id="results_search">
        <h1>Результаты</h1>
        {% if lost_things is defined %}
            {% for lost_thing in lost_things %}
                <div class="search_block">
                    {% if lost_thing.filename is not empty %}
                        <img src="{{ asset('files/') }}{{ lost_thing.filename }}">
                    {% else %}
                        <img src="{{ asset('images/no_image.png') }}">
                    {% endif %}
                    <p>
                        <span>Потеря:</span> {{ lost_thing.thing }}
                    </p>
                    <p>
                        <span>Страна:</span> {{ lost_thing.country }}
                    </p>
                    <p>
                        <span>Город:</span> {{ lost_thing.city }}
                    </p>
                    <p>
                        <span>Район:</span> {{ lost_thing.area }}
                    </p>
                    <p>
                        <span>Адрес:</span> {{ lost_thing.street }}
                    </p>
                    <p class="send_user_pm">
                        Потерял: <button class="button_link" value="{{ lost_thing.username }}"> {{ lost_thing.username }} </button> <span>{{ lost_thing.dateLost|date('d-m-Y г. в H:i:s') }}</span>
                    </p>
                    <p id="description_search_lost">
                        <span >Описание:</span> {{ lost_thing.description }}
                    </p>
                </div>
            {% endfor %}
            <div class="dialog" title="">
                <form action="{{ path('private_message') }}" method="POST">
                    <textarea class="message send_textarea" name="message"></textarea>
                    <input type="hidden" name="whom" value="" class="whom">
                    <button name="submit_pm" class="submit_pm button">Отправить</button>
                </form>
            </div>
            {% if lost_things is empty %}
                <p>Вашу вещь еще никто не ищет</p>
            {% endif %}
        {% else %}
            {% for find_thing in find_things %}
                <div class="search_block">
                    {% if find_thing.filename is not empty %}
                        <img src="{{ asset('files/') }}{{ find_thing.filename }}">
                    {% else %}
                        <img src="{{ asset('images/no_image.png') }}">
                    {% endif %}
                    <p>
                        <span>Находка:</span> {{ find_thing.thing }}
                    </p>
                    <p>
                        <span>Страна:</span> {{ find_thing.country }}
                    </p>
                    <p>
                        <span>Город:</span> {{ find_thing.city }}
                    </p>
                    <p>
                        <span>Район:</span> {{ find_thing.area }}
                    </p>
                    <p>
                        <span>Адрес:</span> {{ find_thing.street }}
                    </p>
                    <p class="send_user_pm">
                        Нашел: <button class="button_link" value="{{ find_thing.username }}">{{ find_thing.username }}</button> <span>{{ find_thing.datefind|date('d-m-Y г. в H:i:s') }}</span>
                    </p>
                    <p>
                        <span>Описание:</span> {{ find_thing.description }}
                    </p>
                </div>
            {% endfor %}
            <div class="dialog" title="">
                <form action="{{ path('private_message') }}" method="POST">
                    <textarea class="message send_textarea" name="message"></textarea>
                    <input type="hidden" name="whom" value="" class="whom">
                    <button name="submit_pm" class="submit_pm button">Отправить</button>
                </form>
            </div>
            {% if find_things is empty %}
                <p>Эту вещь еще никто не нашел</p>
            {% endif %}
        {% endif %}
        <div class="clear"></div>
    </div>
{% endblock %}