{% extends 'LostThingsMainBundle:personal-area:layout.html.twig' %}

{% block body %}
    <div id="results_search">
        {% if lost_things is defined %}
            {% for lost_thing in lost_things %}
                <div class="search_box">
                    {% if lost_thing.filename is not empty %}
                        <img src="{{ asset('files/') }}{{ lost_thing.filename }}">
                    {% else %}
                        <img src="{{ asset('images/default.gif') }}">
                    {% endif %}
                    <p>
                        Потеря: {{ lost_thing.thing }}
                    </p>
                    <p>
                        Страна: {{ lost_thing.country }}
                    </p>
                    <p>
                        Город: {{ lost_thing.city }}
                    </p>
                    <p>
                        Район: {{ lost_thing.area }}
                    </p>
                    <p>
                        Адрес: {{ lost_thing.street }}
                    </p>
                    <p>
                        Описание: {{ lost_thing.description }}
                    </p>
                    <p class="send_user_pm">
                        Потерял: <button class="button_link" value="{{ lost_thing.username }}"> {{ lost_thing.username }} </button> {{ lost_thing.dateLost|date('d-m-Y H:i:s') }}
                    </p>
                </div>
            {% endfor %}
            <div class="dialog" title="">
                <form action="{{ path('private_message') }}" method="POST">
                    <textarea class="message send_textarea" name="message"></textarea>
                    <input type="hidden" name="whom" value="" class="whom">
                    <button name="submit_pm" class="submit_pm button">Отправить</button>
                </form>
            </div>
            {% if lost_things is empty %}
                <p>Вашу вещь еще никто не ищет</p>
            {% endif %}
        {% else %}
            {% for find_thing in find_things %}
                <div class="search_box">
                    {% if find_thing.filename is not empty %}
                        <img src="{{ asset('files/') }}{{ find_thing.filename }}">
                    {% else %}
                        <img src="{{ asset('images/default.gif') }}">
                    {% endif %}
                    <p>
                        Находка: {{ find_thing.thing }}
                    </p>
                    <p>
                        Страна: {{ find_thing.country }}
                    </p>
                    <p>
                        Город: {{ find_thing.city }}
                    </p>
                    <p>
                        Район: {{ find_thing.area }}
                    </p>
                    <p>
                        Адрес: {{ find_thing.street }}
                    </p>
                    <p>
                        Описание: {{ find_thing.description }}
                    </p>
                    <p class="send_user_pm">
                        Нашел: <button class="button_link" value="{{ find_thing.username }}">{{ find_thing.username }}</button> {{ find_thing.datefind|date('d-m-Y H:i:s') }}
                    </p>
                    <div class="clear"></div>
                </div>
            {% endfor %}
            <div class="dialog" title="">
                <form action="{{ path('private_message') }}" method="POST">
                    <textarea class="message send_textarea" name="message"></textarea>
                    <input type="hidden" name="whom" value="" class="whom">
                    <button name="submit_pm" class="submit_pm button">Отправить</button>
                </form>
            </div>
            {% if find_things is empty %}
                <p>Эту вещь еще никто не нашел</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}