{% extends 'LostThingsMainBundle::layout.html.twig' %}

{% block body %}
    <div id="results_search">
        {% if lost_things is defined %}
            {% for lost_thing in lost_things %}
                {% if lost_thing.filename is not empty %}
                    <img src="{{ asset('files/') }}{{ lost_thing.filename }}">
                {% else %}
                    <img src="{{ asset('images/default.gif') }}">
                {% endif %}
                <p>
                    Потеря: {{ lost_thing.thing }}
                </p>
                <p>
                    Страна: {{ lost_thing.country }}
                </p>
                <p>
                    Район: {{ lost_thing.area }}
                </p>
                <p>
                    Адрес: {{ lost_thing.street }}
                </p>
                <p>
                    Описание: {{ lost_thing.description }}
                </p>
                <p>
                    Потерял: {{ lost_thing.username }}
                </p>
            {% endfor %}
            {% if lost_things is empty %}
                <p>Вашу вещь еще никто не ищет</p>
            {% endif %}
        {% else %}
            {% for find_thing in find_things %}
                {% if find_thing.filename is not empty %}
                        <img src="{{ asset('files/') }}{{ find_thing.filename }}">
                    {% else %}
                        <img src="{{ asset('images/default.gif') }}">
                    {% endif %}
                    <p>
                        Находка: {{ find_thing.thing }}
                    </p>
                    <p>
                        Страна: {{ find_thing.country }}
                    </p>
                    <p>
                        Район: {{ find_thing.area }}
                    </p>
                    <p>
                        Адрес: {{ find_thing.street }}
                    </p>
                    <p>
                        Описание: {{ find_thing.description }}
                    </p>
                    <p>
                        Нашел: {{ find_thing.username }}
                    </p>
            {% endfor %}
            {% if find_things is empty %}
                <p>Эту вещь еще никто не нашел</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}