<ul>
    {% for all in all_send_correspondence %}
            <li>
                <a href="/personal-area/correspondence/{{all.receivedUserId }}">{{ all.receivedUserName }}</a>
            </li>
    {% endfor %}
    {% if all_received_correspondence is defined %}
        {% for all in all_received_correspondence %}
            <li>
                <a href="/personal-area/correspondence/{{  all.sendUserId }}">{{ all.username }}</a>
            </li>
        {% endfor %}
    {% endif %}
    {% if all_correspondence is defined %}
        {% for all in all_correspondence %}
            <li>
                <a href="/personal-area/correspondence/{{  all.receivedUserId }}">{{ all.receivedUserName }}</a>
            </li>
        {% endfor %}
    {% endif %}
</ul>