{% extends '::personal_area.html.twig' %}


{% block header %}
    <div id="find_lost_panel">
        <ul>
            <li><a href="{{ path('find') }}">Я нашел</a></li>
            <li><a href="{{ url('lost') }}">Я потерял</a></li>
        </ul>
    </div>
    <div id="log_in">
        {% if app.user %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
            |
            <a href="{{ path('personal_area') }}">Личный кабинет</a>
        {% else %}
            <a href="{{ url('fos_user_security_login') }}">Log in</a>
        {% endif %}
    </div>
    <div class="clear"></div>
{% endblock %}

{% block personallayout %}
    <div id="left_side">
        <h3>История переписок</h3>
        <div id="bg_all_correspondence">
            {{ render(controller('LostThingsMainBundle:PrivateMessage:allCorrespondence')) }}
        </div>
    </div>

    <div id="right_side">
        <h3>Личная информация</h3>
        <div id="personal_info">

        </div>
    </div>
{% endblock %}